body {
    margin: 0;
    padding: 0;
}


/* header */

#header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222831;
}


.logo {
    height: 45px;
    width: 45px;
}


.menu-opt>a {
    margin-left: 10px;
    color: white;
}


/* Home */

.my-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
   
}

.my-pic>img {
    border-radius: 50%;
}

#home{
    border: 1px solid #000;
  
}

#home>div {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    border: 1px solid #000;
    margin: auto;
}


@media (max-width:600px) {
    #home>div {
        width: auto;
        flex-direction: column;
        align-items: center;
    }

    .my-pic {
        height: 150px;
        width: 150px;
        border-radius: 50%;
       
    }
    
    .my-pic>img {
        border-radius: 50%;
    }

    .home-intro{
        text-align: center;
    }
}




/* About */

#about {
    width: 100%;
    padding: 20px;
}

#about>div {
    display: flex;
    width: 60%;
    margin: auto;
    align-items: center;
    justify-content: space-around;

}

.contant {
    width: 60%;
}

.about-txt {
    font-size: 10px;
}

.social-icon {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}


/* skills */
#skills {
    width: 100%;
    border: 1px solid #000;

}

#skills>div {
    padding: 30px;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#skills>div>i {
    font-size: 3rem;
}



/* Porject */
#projects {
    width: 100%;

}

#projects>div {
    border: 1px solid #000;
    width: 70%;
    margin: 40px auto;
}

.project-no {
    width: 10%;
    padding: 10px;
}

.project-card {
    display: flex;
    gap: 15px;
    align-items: center;
}

.project-contant {
    width: 30%;
}

.project-contant>h3 {
    font-size: 1rem;
}

.project-desc {
    font-size: 12px;
}

.tech-stack {
    border: 1px solid #000;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.tech-stack>div {
    margin: 5px;
    font-size: 11px;
}

.project-btn {

    display: flex;
    justify-content: space-between;
}

.project-btn>a {
    text-decoration: none;
}


.projecrt-img {
    height: 80%;
    width: 50%;
}





/* Github-Stats */

#github-stats>div{
border: 1px solid #000;
display: flex;
justify-content: center;
gap: 30px;
}

#github-stats>div>img{
     height: 200px;
     width: 200px;
}
    
/* Contact-us */
#contact>div{
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    gap: 10%;
    padding:20px;
}


#contact>div>form>input, label, textarea {
  display: block;
}


.contact-info>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.contact-info>div>a{
  text-decoration: none;
  color: #000;
}

.contact-info>div>a>i{
    font-size: 10px;
    font-weight: 600;
    word-spacing: 10px;
  }



